@model IEnumerable<hringr.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>
<span class="pull-right">
    <a href="../"> <img src="../../images/ugla2.png" width="60" height="60" class="pull-left" /></a>
</span>
<p>
    @Html.ActionLink("Create a new category", "Create")
</p>

@foreach (var item in Model)
{
    <div class="well">
        <h3>
            @Html.DisplayFor(modelItem => item.name)
        </h3>
        
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </p>
    </div>
}
    
