@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>About HRIN.GR</h3>

<p>Social Network HRIN.GR - made by Group 3 <br/>
    <ul>
        <li>Halldóra Jóhannsdóttir</li>
        <li>Kristján Ólafur Ólafsson</li>
        <li>Sigmar Þór Hávarðarson</li>
        <li>Svanhildur Jóna Erlingsdóttir</li>
        <li>Þórður Björn Ágústsson</li>
    </ul>
    </p>
