@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>HRIN.GR</h3>
<span class="pull-right">
    <a href="../"> <img src="../../images/ugla2.png" width="60" height="60" class="pull-left" /></a>
</span>

<p>Social Network HRIN.GR - made by Group 3 <br/>
    <ul>
        <li>Halldóra Jóhannsdóttir</li>
        <li>Kristján Ólafur Ólafsson</li>
        <li>Sigmar Þór Hávarðarson</li>
        <li>Svanhildur Jóna Erlingsdóttir</li>
        <li>Þórður Björn Ágústsson</li>
    </ul>
    </p>
