@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact us</h3>

<address>
    HRIN.GR<br />
    Háskólinn í Reykjavík<br />
    <abbr title="Phone">P:</abbr>
    +354 581 2345
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@hrin.gr">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@hrin.gr">Marketing@example.com</a>
</address>