@using System.Security.Cryptography
@using hringr.Models
@{
    ViewBag.Title = "Home Page";
}
<div id="posts-wrapper">
    @Html.Partial("_Posts")
</div>

<div id="loading">
    <img src='@Url.Content("~/images/spin.gif")' /><p><b>Loading the next @ViewBag.RecordsPerPage&hellip;</b></p>
</div>
@section scripts{
    <script type="text/javascript">
        $(function() {
            $("div#loading").hide();
            var moreRowsUrl = "/Home/Recent";
            $(window).scroll({ address: moreRowsUrl }, scrollHandler);
        });
    </script>
}
