
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prufa</title>
</head>
<body>
<div>
    <a href="../../img/mynd6.jpg" width="1920" height="1200"></a>
</div>
</body>
</html>
