@model IEnumerable<hringr.Models.ApplicationUser>
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("q")
        <input type="submit" value="Search"/>
    </p>
    
    <div>
        @foreach (var item in Model)
        {
            <div class="well well-sm">
                <h3>
                    @Html.ActionLink(item.UserName, "Details", "User", new { user = item.UserName }, null)
                </h3>
            </div>
        }
    </div>
}