@model IEnumerable<hringr.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Posts</h2>
<!--
<p>
    <a href="/Posts/Create">Create New</a>
</p>
-->

<div>
    @foreach (var item in Model)
    {
        <div class="well">
            <h3>
                @Html.DisplayFor(modelItem => item.title) <small class="pull-right">@Html.DisplayFor(modelItem => item.date) </small>
            </h3>
            <p>
                @Html.DisplayFor(modelItem => item.text)
            </p>
        </div>
    }
</div>