
@model hringr.Models.UserViewModels

@{
    ViewBag.Title = "User Details";
}

<h2>@Model</h2>

<h3>Posts</h3>
@*@foreach (var post in ViewBag.Posts)
{
  <div class="well">
    <h3>
        @post.title <small class="pull-right">@post.date </small>
    </h3>
    <p>
        @post.text
    </p>
    <p>
        <a class="like-comment pull-right btn btn-primary btn-xs" data-template-bind='{"attribute": "id", "value": "ID"}' onclick='AddDislike(id); return false' href="#">
        <span class="glyphicon glyphicon-thumbs-down"> </span> Dislike</a>

        <a class="like-comment pull-right btn btn-primary btn-xs space" data-template-bind='{"attribute": "id", "value": "ID"}' onclick='AddLike(id); return false' href="#">
        <span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
    </p>
  </div>
}*@