@model IEnumerable<hringr.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<span class="pull-right">
    <a href="../"> <img src="../../images/bird2.png" width="60" height="60" class="pull-left" /></a>
</span>
    
    @foreach (var user in Model)
    {
        <div class="well well-sm">
            <h3>
                @Html.ActionLink(user.UserName, "Details", "User", new {u = user.UserName}, null)
            </h3>
        </div>
    }
